@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

:root{
    --lime-color:#d9ed92;
    --light-color:#b5e48c;
    --willow-color:#99d98c;
    --emerald-color:#76c893;
    --ocean-color:#52b69a;
    --tropical-color:#34a0a4;
    --text-color:#f2f4f3;
    --fern-color:#8611ec;
    --strak-color:#640d14;

}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Instrument Serif", serif;
    font-weight: 800;
    font-style: normal;
}

body{
  height: 100%;
  
  
}

.video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: -1;
}

main{
    width: 100%;

  
   
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
  
  
}

#tema{
   background-color:  var(--three-color); 
   width: 30px;
   height: 30px;
   border-radius: 50%;
}


.logo{
    font-weight: 700;
    color: var(--strak-color);
    font-size: 20px;
    letter-spacing: 5px;
    text-shadow: 2px 2px 5px #000000;
}

.logo span{
    color: var(--fern-color);
    padding: 10px;
    font-size: 20px;
  
}

.logo:hover{
    color:var(--text-color);
    animation: acender 0.5s forwards;
    letter-spacing: 10px;}

 @keyframes acender{
    to{
        color:var(--text-color);
        text-shadow: 0 0 10px #611468, 0 0 20px #f2f4f3;
    }}

nav ul{
  display: flex;
  list-style: none;
}

nav ul li{
    padding: 18px;

}

nav ul li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
    letter-spacing: 6px;
}

nav ul li a:hover{
    color: var(--fern-color);
    text-transform:uppercase;
    text-shadow: 0 0 10px, 0 0 20px #000000;
}

.carrinho span{
    color:var(--strak-color);
    text-shadow: 2px 2px 5px #000000;
    font-size: 20px;
}

i{
    color: var(--strak-color);
    text-shadow: 2px 2px 5px #000000;
    margin-right: 7px;
}





.novidades{
    width: 100%; 
    height:auto;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
  
  

}

.novlan{
    position: relative;
    width: 95%;
    height: 700px;
}

.lancamentos{
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.8s ease;
}

.lancamentos.active{
    display: block;
    opacity: 1;
}

.lancamentos img{
    width: 100%;
    height: 700px;
   object-fit: cover; 
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.titulos{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  
  
}

.titulos h2{
    font-size: 50px;
    color: var(--light-color);
    text-shadow: 2px 2px 5px #000000;
    letter-spacing: 1px;
    word-spacing: 2px;
    display: flex;
    margin-top: 50px;
    justify-content: center;
  
}

.titulos p{
    color: var(--lime-color);
    text-shadow: 2px 2px 5px #000000;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 28px;

}

.opcoes{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 30px;
    margin: 20px;
     
    

}

.cards{
    background-color: var(--light-color);
    height: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: none;
   
    
    

}

.cards:hover{
     transform: translateY(-5px);
}

.cards img{
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  
}

.comple h3{
    color: var(--light-color);
    text-shadow: 2px 1px 3px #000000;
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    letter-spacing: 2px;

}

.cadastro{
    width: 70%;
    margin: auto;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.cadastro h2{
    color:var(--willow-color);
    margin-top: 20px;
    font-size: 45px;
    text-shadow: 2px 1px 3px #000000;
    text-align: center;
     word-spacing: 2px;
    letter-spacing: 1px;

    
}

.cadastro p{
    color: var(--lime-color);
    margin-bottom: 20px;
    text-align: center;
    font-size: 28px;
    text-shadow: 2px 1px 3px #000000;
     word-spacing: 2px;
    letter-spacing: 1px;
    
}

form{
    background-color: var(--emerald-color);
    border-radius: 17px;
    width: 80%;
    
    
   
}

fieldset{
   display: flex;
   flex-direction: column;
   padding: 15px;
   border: 1px solid #76c893;
   border-radius: 17px;
   

}

legend{
    padding: 5px;
    font-size: 30px;
    word-spacing: 2px;
    letter-spacing: 1px;
    color: var(--lime-color);
    text-shadow: 2px 2px 5px #000000;
    
}

label{
    display: inline-block;
    margin-bottom: 8px;
    color: var(--lime-color);
    text-shadow: 2px 2px 5px #000000;
    letter-spacing: 1px;
    word-spacing: 2px;
}

input{
    padding: 10px;
    border-radius: 17px;
    border: 1px solid #d9ed92;
    margin-bottom: 10px;
}

input[placeholder]{
    font-size: 16px;

}

form span{
    color: var(--text-color);
}

input[type="file"]{
    padding: 30px;
    background-color: var(--text-color);
    
}



button{
    width: 100px;
    height: 30px;
    border-radius: 18px;
    border: 1px solid #d9ed92;
    margin-left: 20px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

button[type="reset"]:hover{
    background-color: #640d14;
    color: var(--text-color);
    transform: scale(1.2);
}

button[type="submit"]:hover{
    background-color: var(--fern-color);
    color: var(--text-color);
    transform: scale(1.2);
}



